<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification</title>
</head>
<body>
    <p>Click the following link to change your password:</p>
    {{!-- <a href="{{verificationLink}}">{{verificationLink}}</a> --}}
    <a href="{{resetPasswordLink}}">Change Password Here</a>
</body>
</html>
